/* Convert the filter list to a flexbox and CSS grid hybrid to accommodate more filters. */
.media-modal .media-toolbar {
	display: flex;
	justify-content: space-between;
	height: auto;
}
.media-modal .media-toolbar .media-toolbar-secondary {
	display: grid;
	width: 100%;
	row-gap: 0;
	column-gap: 5px;
	margin: 0;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	grid-template-rows: 0 auto auto;
}
.media-modal .media-toolbar .media-toolbar-secondary > h2 {
	grid-column: 1 / -1;
	grid-row: 1;
}
.media-modal .media-toolbar .media-toolbar-secondary > label {
	grid-row: 2;
	margin-bottom: 5px;
}
.media-modal .media-toolbar .media-toolbar-secondary > select {
	grid-row: 3;
}

.media-modal .media-toolbar .media-toolbar-secondary .attachment-filters {
	max-width: initial;
	margin: 0;
}

.media-modal .imageshop-edit-toggle-wrapper {
	width:65%;
	float:right;
	text-align:right;
}

.media-modal .imageshop-edit-form {
	display: none;
}

.media-modal .imageshop-ajax-generic-feedback,
.media-modal .imageshop-edit-form-feedback {
	box-sizing: border-box;
	display: none;
	float: right;
	margin: initial;
	margin-bottom: 8px;
	width: 65%;
}

.media-modal .imageshop-ajax-generic-feedback {
	margin-top: 8px;
}

.media-modal .setting select {
	margin: 1px;
	width: 65%;
	float: right;
	max-width: inherit;
}
