@import "tailwindcss";

@theme {
	--color-primary: #0C588E;
	--color-secondary: #FFFFFF;
	--color-text: #000000;
	--color-accent: #0D61F6;
	--color-success: #28A745;
	--color-warning: #FFC107;
	--color-error: #DC3545;
}
